#Android generated
bin
gen
lint.xml
*.apk

# Android NDK
*.o
*.o.d
*_g
*.a
*.so
*.pinfo
*.gcno
*.bar
gdbserver
gdb.setup
libs

#Eclipse
.project
.classpath
.settings
.checkstyle

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

#Maven
target
release.properties
pom.xml.*

#Ant
build.xml
ant.properties
local.properties
proguard.cfg
proguard-project.txt

#Other
.DS_Store
tmp
out

#Crashlytics
res/values/com_crashlytics_export_strings.xml
assets/crashlytics-build.properties

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
build
DerivedData
*.hmap
*.ipa
.DS_Store
.AppleDouble
.LSOverride
Icon
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Pods
Podfile.lock
.idea
*.xcworkspace
*.zip
fastlane/*.md
fastlane/*.xml
fastlane/test_output
fastlane/downloads
*.framework
*.cer
*.certSigningRequest
*.p12